
:root {
  --black: #000000;
  --white: #FFFFFF;
  --green: #7AD109;
  --darkGreen: #4F8F00;
  --blue: #0751A5;
  --red: #CB2600;
  --darkGrey: #A9A9A7;
  --lightGrey:#EEEEEE;
}

body {
  font-family: 'Lato', sans-serif !important;
  background: var(--white) !important;
  color: var(--black) !important;
}

.text-title {
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-light {
  color: var(--lightGrey);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--darkGreen);
}